/*
    @Authour - Shein Htut Oo
    @Version - HC V1.2 (Beta)
    @Developed by IGP's Shein
*/

#navtogbtn {
    border: none;
    font-size: 1.25rem;
}

#navtogbtn:focus, #btn-cls:focus {
    box-shadow: none;
    outline: none;
}

#navlink, #navactive {
    color: #fff;
    font-weight: 500;
    position: relative;
}

#navlink:hover, #navactive{
    color: #000;
}

#logo {
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    transition: 0.3s color;
}
#logo:hover {
    font-weight: 500;
    color: #000;
    font-size: 24px;
    transition: 0.3s color;
}

@media (min-width: 991px) {
    #navlink::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #000;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    #navlink:hover:before, #navactive::before{
        width: 100%;
        visibility: visible;
        color: black;
    }
}

#logo::before{
    content: "Designs Studio";
    position: absolute;
    margin-top: 25px;
    font-size: 15px;
}

#nabar {
    background-color: #353536;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.hero-section {
    background: url(../images/herosection.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before {
    background-color: rgba(111, 110, 110, 0.378);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.contact-btn {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.contact-btn:hover{
    background-color: #00b383;
}

.hero-section #container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.lgpng {
    border-radius: 80px;
    animation: zoomIn 1s cubic-bezier(1, 0.01, 0, 0.99);
}

@font-face {
    font-family: Frozito;
    src: url("../fonts/Frozito-eZ99g.ttf");
}

@font-face {
  font-family: font1;
  src: url("../fonts/AnkhSanctuary-PVK0B.ttf");
}

@font-face {
  font-family: font2;
  src: url("../fonts/CrotahFreeVersionItalic-z8Ev3.ttf");
}

@font-face {
  font-family: font3;
  src: url("../fonts/Dangernight-vnZ5y.otf");
}

@font-face {
  font-family: font4;
  src: url("../fonts/EsportGraphRegular-8MYEB.otf");
}

.welcome {
    font-family: font1;
    animation: zoomIn 1s cubic-bezier(1, 0.01, 0, 0.99);
    color: #0f0616;
}

@keyframes zoomIn{
    0%{
        transform: scale(0.3);
    }
    100%{
        transform: scale(1);
    }
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
    background-color: #121214;
  }
  
  .container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
  }
  .fostrap-logo {
    margin-bottom:15px
  }
h1.heading {
    color: #fff;
    font-size: 10px;
    margin: 0 0 0.5em;
    font-family: font4;
  }
  @media (min-width: 450px) {
    h1.heading {
      font-size: 3.55em;
    }
  }
  @media (min-width: 760px) {
    h1.heading {
      font-size: 3.05em;
    }
  }
  @media (min-width: 900px) {
    h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
  } 
  .card {
    display: block; 
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #121214;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
      transition: box-shadow .25s; 
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
      overflow: hidden;
  }
  .img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    transition: all .25s ease;
  } 
  .card-content {
    padding:15px;
    text-align:left;
    background-color: #fff;
  }
  .card-title {
    color: white;
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
    font-family: font2;
  }
  .card-title a {
    color: #000;
    text-decoration: none !important;
  }
  .card-read-more {
    border-top: 1px solid #D4D4D4;
  }
  .card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
  }

  #about {
    background-color: #121214;
    color: white;
  }
  footer {
    background-color: #0f0616;
    color: #fff;
    padding: 3rem 0;
  }

  .social-icons a {
    font-size: 1.25rem;
  }
